
body {
    margin : 0 auto;
}

#header {
    display: flex;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

#header a {
    color: green;
    text-decoration: none;
}

#header a:hover {
    color: yellowgreen;
    cursor: pointer;
    text-decoration:underline;
}

h1 {
    text-align: center;
}

li {
    text-align: center;
}