

body {
    margin : 0 auto;
}

#navbar {
    display: flex;
    height: 100px;
    color: yellow;
    align-items: center;
    justify-content:space-around;
    background-color: red;
}

#header {
    display: flex;
    height: 100px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-around;
}

#header a {
    color: white;
    text-decoration: none;
}
#header a:hover {
    color: yellowgreen;
}

.container {
    background-color: aqua;
}